################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Terramine/v16/ipch/AutoPCH/14cf9e49dbfda8b4/MAIN.ipch
/.vs/Terramine/v16/ipch/AutoPCH/4798307160133a34/MAIN.ipch
/.vs/Terramine/v16/ipch/AutoPCH/a7fb0fd7f773062f/MAIN.ipch
/.vs/Terramine/v16/Browse.VC.opendb
