################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Terramine/v16/ipch/AutoPCH/14cf9e49dbfda8b4/MAIN.ipch
